 /* @media (max-width: 460px) {
  body, .container {
    margin: 0 auto;
  }
}  body {
    margin: 0 ;
    width: 100vw;
    height: 100vh;
} 
* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: row; 
    margin: 0; 
    flex: 0 1 auto;}
     */

/* .main {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
} */
     .main-text {
   font-family: "BIZ UDGothic", sans-serif;
   font-size: 1.2rem;
   font-weight: 550px;
   line-height: 30px;
     } 

   /* .box{
    margin-top: 5px;
    width: 850px;
    height: 300px;
    background-color: white;
    border-style: solid;
    border-color: #8FD14F;
    border-radius: 49px;
} 
    .sidebar{
    width: 45%;
    height: 100%;
} 
img{
    width: 100%;
    height: 100%;    
} */
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
}
.sidebar {
    flex-grow: 1;
    max-width: 100%;
}
.main{
    flex-grow: 3;
    max-width: 100%;
}
img {
    width: 20vw;
    height: 100vh;
  
}