
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y:hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
}
.sidebar {
    flex-grow: 1;
    max-width: 100%;
    margin: 0;
}
.main{
    flex-grow: 3;
    max-width: 100%;
    margin: 30px;
}
#garden {
    width: 25vw;
    height: 100vh;
    margin: 0;
}
.main-text {
   font-family: "BIZ UDGothic", sans-serif;
   font-size: 1.4rem;
   font-weight: 850px;
   line-height: 30px;
} 

.box{
    margin-top: 25px;
    width: 1050px;
    height: 350px;
    background-color: white;
}
#title{
 font-family: "BIZ UDGothic", sans-serif;
 font-size: 2.5rem;
 font-weight: bold;
 margin-bottom: 15px;
}

.form-group label {
    display: inline-block;
    width: 100%;
    font-family: "BIZ UDGothic", sans-serif;
    font-size: 1.2rem;
}
.form-group {
  margin-bottom: 15px;
}
.form-wrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.form-group input {
    border: 2px solid #45595A ;
    width: 350px;
    height: 47.54px;
    border-radius: 10.34px;
    font-family:"BIZ UDGothic", sans-serif; 
    font-size: 1.2 rem;
}

#buttons {
    margin-left: 300px;
    margin-top: 20px;
}
button {
     width: 250px;
    height: 50px;
    border-radius: 10.34px;
    font-family: "BIZ UDGothic", sans-serif;
    font-size: 1.5rem;
    background-color: #8FD14F;
}
#txt {
    margin-top: 10px;
    font-family: "BIZ UDGothic", sans-serif;
}
input {
   font-size: 1.2rem;
   padding: 10px;
}
input:user-invalid {
     border: 2px solid red;
     background-color: beige;
}
input:valid {
     border: 2px solid #8FD14F;
}
.background {
    position: absolute;
    background-color: black;
    width: 25vw;
    height: 110px;
    opacity: 25%;
    bottom: 60%;
}
#odin {
    position: absolute;
    width: 70px;
    bottom: 62%;
    margin-left: 65px;
}
#header {
    position: absolute;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-size: 60px;
    color: white;
    bottom: 62%;
    margin-left: 150px;
}

