
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y:hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
}
.main{
    flex-grow: 3;
    max-width: 100%;
    margin: 30px;
}
#garden {
    width: 25vw;
    height: 100vh;
    margin: 0;
}
.main-text {
   font-family: "BIZ UDGothic", sans-serif; 
   line-height: 30px;
} 
h2 {
    font-size: 3vh;
}

.box{
    margin-top: 25px;
    width: 1050px;
    height: 350px;
    background-color: white;
}
#title{
 font-family: "BIZ UDGothic", sans-serif;
 margin-bottom: 15px;
}
h1{
    font-size: 4.9vw;
}

.form-group label {
    display: inline-block;
    width: 100%;
    font-family: "BIZ UDGothic", sans-serif;
    font-size: 1.2rem;
}
.form-group {
  margin-bottom: 15px;
}
.form-wrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.form-group input {
    border: 2px solid #45595A ;
    width: 350px;
    height: 47.54px;
    border-radius: 10.34px;
    font-family:"BIZ UDGothic", sans-serif; 
    font-size: 1.2 rem;
}

#buttons {
    margin-left: 300px;
    margin-top: 20px;
}
button {
     width: 245px;
    height: 45px;
    border-radius: 10.34px;
    font-family: "BIZ UDGothic", sans-serif;
    font-size: 1.5rem;
    background-color: #8FD14F;
}
#txt {
    margin-top: 10px;
    font-family: "BIZ UDGothic", sans-serif;
    font-size: 2 vmin;
}
input {
   font-size: 1.2rem;
   padding: 10px;
}
input:user-invalid {
     border: 2px solid red;
     background-color: beige;
}
input:valid {
     border: 2px solid #8FD14F;
}
.background {
    position: absolute;
    background-color: black;
    width: 25vw;
    height: 110px;
    opacity: 25%;
    bottom: 60%;
    white-space: nowrap;
   
}
#odin {
    position: absolute;
    width: 70px;
    bottom: 62%;
    margin-left: 65px;
    white-space: nowrap;
 
    
}
#header {
    position: absolute;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: white;
    bottom: 62%;
    margin-left: 150px;
    
}
.sidebar {
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin: 0;
   
   
}
